:root {
    --theme: #f8f0e3; /* Soft cream */
    --primary: #a16565; /* Blush pink */
    --secondary: #bfa89e; /* Muted gold */
    --content: #6e4646;
}
.body, .list, #top {
    background-size: cover;
    background-color: #f8f0e3;
}

#menu li {
    display: inline-block;  /* Display list items horizontally */
    margin: 2px;  /* Space between buttons */
    padding: 0px 12px;  /* Space inside the buttons */
    background-color: #d4a5a555;  /* Soft blush color */
    color: white;  /* Text color */
    line-height: 2;
    border-radius: 8px;  /* Rounded corners */
    cursor: pointer;  /* Pointer on hover */
    transition: background-color 0.3s ease, transform 0.2s ease;  /* Smooth transition */
}

#menu .active {
    font-weight: bold;
    border-bottom: none !important;  /* Ensure this overrides the theme style */
}

#menu li:hover {
    background-color: #bfa89e55;  /* Darker blush on hover */
    transform: scale(1.05);  /* Slightly enlarge on hover */
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 200px)); /* Ensures images fit in the grid */
  gap: 10px 10px;
  justify-content: center;
  width: 90%;
}

.grid-item {
  width: 100%;
}

.grid-item img {
  width: 100%;
  height: auto;
  max-width: 200px;
  aspect-ratio: 16 / 9; /* Maintains 16:9 ratio */
  object-fit: cover; /* Ensures image fills its container properly */
  border-radius: 8px; /* Optional: Rounded corners for aesthetics */
  margin: 0px;
}
